<%= turbo_stream_from Current.game %>

<div class="h-screen w-full max-w-380 mx-auto relative overflow-hidden"
     data-controller="modal"
     data-modal-auto-show-value="<%= Current.player.display_rules! %>">
  <div class="absolute inset-0 bg-cover bg-center bg-no-repeat" style="background-image: url('<%= asset_path('media/background.png') %>');"></div>
  <div class="relative z-10 flex h-full">
    <%= render Current.game %>
    <%= render partial: "editor" %>
  </div>
</div>
